.author-card {
    color: $white;
    width: 65%;
    background-color: $author-bgc;
    overflow: hidden;
    border: none;
    border-radius: 15px;
    margin: 1rem 0;
    .thumbnail {
        width: 100%;
        border: none;
        border-radius: 15px 15px 0 0;
    }
    .stoic-name {
        p {
            text-align: center;
        }
    }
    @media ( min-width: $breakpoint-mobile ) {
        width: 65%;
        max-width: 65%;
    }
}