.carousel-wrapper {
    .carousel-outer {
        z-index: -1;
        .carousel-slider {
            width: 100%;
            transform: translateY(50%);
            top: 8rem;
            .slider-wrapper {
                height: 350px !important;
            }
        }
    }
}