.hamburger {
    position: absolute;
    z-index: 1;
    font-size: 2.2rem;
    margin: .5rem 0 0 .3rem;
    cursor: pointer;
    path {
        fill: $white;
        @include transition;
    }
    &:hover {
        path {
            fill: $nav-anchor;
        }
    }
}
.active {
    display: inline-block;
}
.inactive {
    display: none;
}