.header {
    position: relative;
    .header-bgc {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        z-index: 1;
        text-align: center;
        background-color: $nav-bgc;
        .app-heading {
            text-decoration: none;
            color: $white;
            &:hover {
                color: $nav-anchor;
                @include transition;
            }
        }
        h1 {
            font-size: 1.4rem;
            margin: 0;
        }
    }
}