.navigation {
    position: fixed;
    background-color: $nav-bgc;
    left: 0;
    right: 50%;
    top: 0;
    max-width: 170px;
    height: 100vh;
    @include transition;
    ul {
        position: absolute;
        top: 2rem;
        margin: 1rem .5rem;
        padding: 0;
        li {
            list-style: none;
            font-size: 1.5rem;
            // text-align: center;
            margin: 1rem 0;
            a {
                text-decoration: none;
                color: $white;
                @include transition;
                span {
                    margin-right: 1rem;
                    svg  {
                        fill: $white;
                        @include transition;
                    }
                }
                &:hover {
                    color: $nav-anchor;
                    span svg {
                        fill: $nav-anchor;
                    }
                }
            }
        }
        @media ( min-width: $breakpoint-mobile) {
            padding: 0 0 0 1rem;
        }
    }
    @media ( min-width: $breakpoint-mobile ) {
        max-width: 195px;
    }
}