.navigation {
    position: fixed;
    background-color: $nav-bgc;
    left: 0;
    right: 50%;
    top: 0;
    height: 100vh;
    @include transition;
    ul {
        position: absolute;
        top: 2rem;
        margin: 1rem .5rem;
        padding: 0;

        li {
            list-style: none;
            font-size: 1.4rem;
            margin: 1rem 0;
            a {
                text-decoration: none;
                color: $white;
                @include transition;
                span {
                    margin-right: 1rem;
                    svg  {
                        fill: $white;
                        @include transition;
                    }
                }
                &:hover {
                    color: $nav-anchor;
                    span svg {
                        fill: $nav-anchor;
                    }
                }
            }
        }
    }
}