.quote-card {
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    max-width: 95%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    color: $white;
    text-align: center;
    z-index: -1;
    .quote::before {
        content: open-quote;
    }
    .quote::after {
        content: close-quote;
    }
    figure {
        margin: 1rem 0.5rem;
    }
    .quote {
        margin: 1rem 0 2rem 0;
        quotes: "“" "”" "‘" "’";
    }
    .attribution {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;
        img {
            width: 15%;
            max-width: 55px;
            border-radius: 100%;
            margin-right: .5rem;
        }
        .author {
            margin-left: .5rem;
            font-size: .9rem;
            font-weight: 800;
        }
    }
    @media ( min-width: $breakpoint-tablet ) {
        max-width: 75%;
    }
    @media ( min-width: $breakpoint-desktop ) {
        max-width: 50%;
    }
}