.single-author-page {
    .carousel-root {
        @include position;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        width: 85%;
        .carousel {
            .slider-wrapper {
                height: 480px !important;
            }
        }
    }
    .single-author-quote-card {
        margin: 0;
        img {
            width: 35% !important;
            @include roundedPercent;

            @media ( min-width: $breakpoint-mobile ) {
                max-width: 15% !important;
            }
        }
        blockquote, figcaption {
            color: $white;
        }
        blockquote {
            margin: 2rem 0 2rem 0;
            font-size: 1.2rem;
        }
        figcaption {
            font-size: .8rem;
            font-weight: 800;
        }
    }
}
