.utils {
    @include position;
    top: 115%;
    display: flex;
    justify-content: center;
    text-align: center;
    svg {
        fill: $white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .copy {
        margin-right: 1rem;
    }
    .bookmark {
        margin-left: 1rem;
    }
}