// General
$white: #ffffff;
// Body 
$body-bgc: #141414;
// Header 
// $header-bgc: #2c2c2c;
// Navigation
$nav-bgc: #2c2c2c;
$nav-anchor: #3cec3c;
// Authors
$author-bgc: #414141;
// Breakpoints
$breakpoint-mobile: 37.5em; // 600 px
$breakpoint-tablet: 50em; // 800 px
$breakpoint-desktop: 62.5em; // 1000 px