// General
$white: #ffffff;
// Body 
$body-bgc: #141414;
// Header 
// $header-bgc: #2c2c2c;
// Navigation
$nav-bgc: #2c2c2c;
$nav-anchor: #3cec3c;
// Breakpoints
$breakpoint-mobile: 37.5em; // 600 px